<!--inherits the boilderplate code from layout.html-->
{% extends "layout.html" %}
<!-- Basically we are overriding the layout.html's block content block from posting what we want within the blocks-->
{% block content %}
    {% for post in posts %}   <!--start tag for jinja  -->
    <article class="media content-section">
      <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}        <!--end tag for jinja  -->
{% endblock content %}
